*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.project
.cproject
.pydevproject
.settings*
.clangd
.vscode
CMakeLists.txt.user
compile_commands.json
/build*/
/cmake-build-*/
*.pyc
.idea
.DS_Store
.mypy_cache
.pytest_cache
.ccache/
.cache/
